/* PatternFly */
/* Anything app specific */
.navbar-pf-header {
  background: #1a1a1a url('images/nav-header-banner-rcue.svg') top left no-repeat;
  border-top: none;
  height: 60px;
}
.tiles-view {
  overflow: auto;
  padding-top: 20px;
}
.tiles-view .tile {
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
  cursor: pointer;
  float: left;
  height: 290px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  width: 260px;
}
.tiles-view .tile .logo {
  display: block;
  margin: 22px auto;
}
.tiles-view .tile .more {
  background: #fff;
  border: none;
  opacity: 0;
  transition: opacity 0s .2s, opacity .2s linear;
}
.tiles-view .tile .more .fa {
  font-size: 16px;
  margin-right: 5px;
}
.tiles-view .tile:hover .more {
  opacity: 1;
}
